/* Your CSS goes here --------------------- */
body{
    margin: 0;
    padding: 0;
}

header h1{
    font-family: 'Space Grotesk', sans-serif;
    color: #191919;
}

header{
    background-color: #2ecc71;
    height: 50px;
    text-align: center;
    align-items: center;
}

#input{
    background-color: #2ecc71;
    padding: 30px;
}

#output{
    background-color: #191919;
}

#imgSelector{
    height: 30px;
    border-radius: 4px;
}

label:nth-of-type(1){
    font-family: 'Space Grotesk', sans-serif;
    color: #191919
}

#textIndex{
    width: 150px;
    height: 30px;
    border-radius: 4px;
}

#textIndex2{
    width: 150px;
    height: 30px;
    border-radius: 4px;
}

input{
    font-family: 'Space Grotesk', sans-serif;
}

label{
    font-family: 'Space Grotesk', sans-serif;
    color: #191919;
}

#colSelector{
    width: 100px;
    height: 30px;
    border-radius: 4px;
}

.colSelector{
    color: #191919;
    font-family: 'Space Grotesk', sans-serif;
}

#slider{
    width: 200px;
}

#fontWeight{
    width: 50px;
    height: 30px;
    border-radius: 4px;
}

#output-canvas{
    text-align: center;
    box-shadow: 5px 5px 10px #2ecc71;
    border-radius: 5px;
    overflow: hidden;
}

#popup {
    background-color: #191919;
}

#popup p {
    color: #2ecc71;
    font-family: 'Space Grotesk', sans-serif;
}

